*.a
*.exe
*.o
*.rout
*.jar
*.output
/BUILDLIB.OUT
/BUILDLIB.LOG
/Makefile.inc
/NOTES
/TAGS
/WORKING
/.gdb_history
/.inst
/bin/cyc-lib/include
/bin/genfiles/lib
/bin/genfiles/src
/bin/buildlib
/bin/cyclone
/bin/lib
/build
/config/arch
/config/autom4te.cache
/core
/config.log
/config.status
/cyclone-.*.tar.gz
/doc/cyclone.gif
/doc/web
/doc/*.txt
/include/arch
/include/arpa
/include/machine
/include/netinet
/include/sys
/lib/arch
/lib/arpa
/lib/include
/lib/machine
/lib/netinet
/lib/sys
/makedist
/mwhtests
/src/parse.output
/tests/benchmarks
/tests/boa-0.94.8.3
/tests/compress
/tests/misc
/tests/smlng
/tests/tpop
/tools/cycbison
/tools/cyclex/qdist
/tools/cycocamllex
/unupdate
/unupdate-backup
/gc

# Vim turds
.*.swp
.*.swo
.*.swn
.*.swm
.*.swl
